.red-filter {
  filter: brightness(0) invert(100%);
}
.jj {
  border-radius: 431px;
  background: radial-gradient(50% 50% at 50% 50%, #763cac 0%, rgba(50, 15, 133, 0) 100%);
}
.box {
  background: linear-gradient(90deg, #130428 7%, #251043 34%, #38126d 57%, #261045 85%, #190634 100%);
}
.nav-pills .nav-link {
  /* border: 2px solid red; */
  color: #ffffff94;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: linear-gradient(135deg, rgba(139, 92, 246, 0.2), rgba(59, 130, 246, 0.2));
  color: whitesmoke;
  font-weight: bold;
}
.box-border {
  box-shadow: 0px 1px 16px 0px rgb(0 0 0 / 45%), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
.bi:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.card-widthi {
  width: 20rem;
}
.text-b-porto {
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .text-awal {
    margin-top: 50px;
  }
  .text-b-porto {
    font-size: 0.6rem;
  }
  .card-widthi {
    width: 40rem;
  }
}
