* {
  text-decoration: none !important;
}
.text {
  transition: color 0.2s ease-in-out;
}
.nv:hover,
.nv.active {
  color: #a370f0 !important; /* Warna lebih mencolok */
}
.red-filter {
  filter: brightness(0) invert(100%);
}
.jj {
  border-radius: 431px;
  background: radial-gradient(50% 50% at 50% 50%, #763cac 0%, rgba(50, 15, 133, 0) 100%);
}
.box {
  background: linear-gradient(90deg, #130428 7%, #251043 34%, #38126d 57%, #261045 85%, #190634 100%);
}
.nav-pills .nav-link {
  /* border: 2px solid red; */
  color: #ffffff94;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: linear-gradient(135deg, rgba(139, 92, 246, 0.2), rgba(59, 130, 246, 0.2));
  color: whitesmoke;
  font-weight: bold;
}
.box-border {
  box-shadow: 0px 1px 16px 0px rgb(0 0 0 / 45%), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
.bi:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.card-widthi {
  width: 20rem;
}
.text-b-porto {
  font-size: 1rem;
}
.text-b-contck {
  font-size: 1rem;
}
.buttons button {
  text-decoration: none;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s ease;
  font-size: 1rem;
}
.btn-learn {
  border: 2px solid #bb86fc;
  color: #bb86fc;
  background-color: rgb(17, 7, 31);
}

.btn-learn:hover {
  background: #bb86fc;
  color: #120628;
}
@media screen and (max-width: 768px) {
  .text-awal {
    margin-top: 50px;
  }
  .text-b-porto {
    font-size: 0.8rem;
  }
  .card-widthi {
    width: 86%;
  }
  .margin-card {
    margin-left: 24px;
  }
  .text-b-contck {
    font-size: 0.8rem;
  }
  .tech-card {
    width: 80%;
    overflow-y: hidden;
    height: 25%;
    /* border: 2px solid; */
    gap: 0;
    padding: 3rem;
  }
  .i-tech {
    font-size: 2rem;
  }
  .img-edit {
    width: 100%;
  }
}
